.page, body {
    background-color: #fbf9fe;
}

.page {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  opacity: 0
}

.bd.spacing {
  padding: 0 15px
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
}

.container .left {
  width: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.container .right {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  margin:0 5px;
}

.shop_tab .weui_navbar, .finance_bar .weui_navbar {
  background-color: #FFF;
}

footer .weui_tab .weui_tabbar {
  position: fixed;
  z-index: 1030;
  bottom: 0;
  left: 0;
  background-color: #FFF;
}

.shop_header {
  background-color: #00b5ad;
}

.profile_header {
  background-color: #00b5ad;
}

.check_header {
  background-color: #00b5ad;
}

i.icon-wallet {
    color: #f90
}

i.icon-order {
  color: #4AA5F0;
}

i.icon-lluckybag {
    color: #ff5f3e
}

i.icon-profile-coins, i.icon-service-phone {
    color: #6ac20b
}

.shop_tab .weui_navbar_item.tab_selected {
  background: 0 0;
  color: #04be02;
  border-bottom: 3px solid #04be02;
}

.category_list_box {
  position: absolute;
  z-index: 1000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.category_list_box .category_list_box_item {
  position: relative;
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.category_list_bd {
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color:#FFF;
}
.category_list_bd.arrow_box {
	position: relative;
	background: #88b7d5;
	border: 4px solid #c2e1f5;
}
.category_list_bd.arrow_box:after, .category_list_bd.arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.category_list_bd.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #88b7d5;
	border-width: 30px;
	margin-left: -30px;
}
.category_list_bd.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #c2e1f5;
	border-width: 36px;
	margin-left: -36px;
}
.category_list_bd ul {
  width: 100%;
}

.category_list_bd li {
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  border-bottom: solid 1px #ddd;
}
.category_active {
  color: red;
}

.shop_list_bd .weui_media_box.weui_media_appmsg .weui_media_hd {
  width: 100px;
  height: 100px;
}

.shop_list_bd .weui_media_box.weui_media_appmsg .weui_media_bd {
  height: 100px;
}

.product_list_bd .weui_media_box.weui_media_appmsg .weui_media_hd {
  width: 100px;
  height: 100px;
}

.product_list_bd .weui_media_box.weui_media_appmsg .weui_media_bd {
  height: 100px;
}

.order_product_list_bd .weui_media_box.weui_media_appmsg .weui_media_hd {
  width: 100px;
  height: 100px;
}

.order_product_list_bd .weui_media_box.weui_media_appmsg .weui_media_bd {
  height: 100px;
}

.product_header {

}

.product_header img {
  width: 100%;
  height: 300px;
}

.product_header .product_card {
  background-color: #FFF;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -moz-box;
}

.product_header .product_card .content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0 5px;
  padding: 10px 10px;
  width: 70%;
}

.product_header .product_card .buy {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  margin:0 5px;
  line-height: 80px;
  text-align: right;
}

.signin_line {
  height: 1px;
  border-top: 1px solid #ddd;
  text-align: center;
}

.signin_line span {
  position: relative;
  top: -13px;
  background: #fbf9fe;
  padding: 0 20px;
}

.oauth_logos .weui_grids a {
  border: 0px;
}

.jc-img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.jc-margin-bottom-xs {
  margin-bottom: 0.5rem;
}
